* {
  padding: 0px;
  margin: 0px;
}

html, body {
  font-size: 16px;
  height: 100%;
  margin: 0px;
}

@font-face {
  font-family: 'iconfont';
  src: url("icon/iconfont.eot");
  /* IE9*/
  src: url("icon/iconfont.eot?#iefix") format("embedded-opentype"), url("icon/iconfont.woff") format("woff"), url("icon/iconfont.ttf") format("truetype"), url("icon/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#container ::-webkit-scrollbar {
  width: 0px;
}
#container .left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6.3125rem;
  height: 100%;
  overflow: auto;
  display: inline-block;
  background-color: #f3f4f8;
}
#container .left ul {
  width: 100%;
  list-style-type: none;
}
#container .left ul li {
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  font-size: 0.75rem;
  font-family: SimHei;
}
#container .left ul .active {
  background-color: white;
  color: #2cbf75;
}
#container .right {
  margin-left: 6.53125rem;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#container .right ul {
  list-style-type: none;
  height: 100%;
  overflow: auto;
  font-size: 0px;
}
#container .right ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
#container .right ul li a {
  display: inline-block;
  width: 5.6875rem;
  height: 4.25rem;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  background: url(../images/product_1.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container .right ul li span {
  display: block;
  width: 5.6875rem;
  overflow: hidden;
  height: 1.75rem;
  margin-top: 0.3125rem;
  line-height: 0.9375rem;
  text-align: center;
  color: black;
  font-size: 0.75rem;
  font-family: SimHei;
}

#container1 {
  width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: hidden;
}
#container1 h1 {
  margin-top: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
#container1 h5 {
  margin-bottom: 0.8125rem;
  color: #c9c9c9;
  font-size: 0.75rem;
}
#container1 .swiper-container {
  border: 1px solid #dddddd;
  width: 18.03125rem;
  height: 7.4375rem;
  margin: 0 auto;
}
#container1 .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#container1 .swiper-container .swiper-slide img {
  width: 18.03125rem;
  height: 7.4375rem;
}
#container1 .word {
  width: 18.03125rem;
  margin: 0 auto;
}
#container1 .word p {
  margin-top: 0.9375rem;
  text-align: left;
  text-indent: 2rem;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container1 .word p:last-child {
  margin-bottom: 0.9375rem;
}

#container2 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container2 .case {
  width: 100%;
  padding-bottom: 0.9375rem;
  margin-top: 0.625rem;
  overflow: hidden;
  background-color: white;
}
#container2 .case h1 {
  width: 18.125rem;
  margin: 0 auto;
  margin-top: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container2 .case div {
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0  auto;
  background: url(../images/success.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container2 .case div a {
  display: block;
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

#container4 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container4 .case {
  width: 100%;
  height: 12.5rem;
  margin-top: 0.625rem;
  padding-bottom: 0.9375rem;
  overflow: hidden;
  background-color: white;
  border: 1px solid #dddddd;
}
#container4 .case h1 {
  width: 18.125rem;
  margin: 0 auto;
  margin-top: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container4 .case .pic {
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0 auto;
  background: url(../images/success.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container4 .case .pic a {
  display: block;
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

#container5 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container5 .head {
  width: 100%;
  max-width: 800px;
  height: 2.84375rem;
  background-color: white;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #e4e4e4;
}
#container5 .head .swiper-container {
  width: 92%;
  height: 2.84375rem;
  background-color: white;
}
#container5 .head .swiper-container .swiper-slide {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: SimHei;
  color: black;
  margin-right: 1.0625rem;
}
#container5 .head .swiper-container .swiper-slide.active {
  font-size: 1.125rem;
  color: #2cbf75;
  border-bottom: 1px solid #2cbf75;
}
#container5 .body {
  width: 92%;
  margin: 0 auto;
  margin-top: 3.78125rem;
}
#container5 .body h1 {
  width: 100%;
  height: 1.125rem;
  line-height: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-family: SimHei;
  font-weight: normal;
}
#container5 .body .pic_word {
  width: 100%;
  padding-bottom: 1.2rem;
  margin-top: 0.75rem;
  border-bottom: 1px solid #dddddd;
}
#container5 .body .pic_word a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  text-decoration: none;
  color: black;
}
#container5 .body .pic_word a .pic {
  width: 100%;
  height: auto;
}
#container5 .body .pic_word a .pic div {
  width: 100%;
  height: 9.0625rem;
  background: url(../images/news.png) no-repeat 0px 0px;
  background-size: 100% 100%;
  margin-bottom: 0.3125rem;
}
#container5 .body .pic_word a .pic span {
  float: right;
  color: #999999;
  font-size: 0.75rem;
}
#container5 .body .word {
  width: 100%;
  height: auto;
  padding-top: 0.9375rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #dddddd;
}
#container5 .body .word a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container5 .body .word a span {
  float: right;
  color: #999999;
  font-size: 0.75rem;
}

#container6 {
  width: 100%;
  min-height: 100%;
  background-color: #f2f4f7;
  overflow: hidden;
}
#container6 .recruit {
  width: 100%;
  margin-bottom: 0.625rem;
  background-color: white;
  padding-top: 0.9375rem;
  padding-bottom: 0.3125rem;
}
#container6 .recruit h1 {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container6 .recruit p {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.625rem;
  font-size: 0.75rem;
  font-family: SimHei;
}
#container6 .recruit .date > span {
  color: #7b7b7b;
}
#container6 .recruit .num > span {
  color: #2cbf75;
}
#container6 .recruit ol {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.625rem;
}
#container6 .recruit ol li {
  display: none;
  list-style-type: none;
  list-style-position: inside;
  counter-increment: mycount;
  line-height: 1.5;
  color: #7b7b7b;
  font-size: 0.625rem;
  font-family: SimHei;
}
#container6 .recruit ol li:before {
  content: counter(mycount,decimal) ".";
}
#container6 .recruit ol li:first-child {
  display: block !important;
}
#container6 .recruit .iconfont {
  width: 92%;
  margin: 0 auto;
  margin-top: 0.3125rem;
  display: block;
  text-align: center;
  font-family: "iconfont";
  font-size: 0.75rem;
  font-weight: bold;
  font-style: normal;
  color: #7b7b7b;
}

#container7 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f4f7;
}
#container7 .case {
  width: 100%;
  height: 12.5rem;
  margin-top: 0.625rem;
  padding-bottom: 0.9375rem;
  overflow: hidden;
  background-color: white;
  border: 1px solid #dddddd;
}
#container7 .case h1 {
  width: 18.125rem;
  margin: 0 auto;
  margin-top: 0.9375rem;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-family: SimHei;
}
#container7 .case span {
  display: block;
  width: 18.125rem;
  margin: 0 auto;
  margin-bottom: 0.33333rem;
  color: #2cbf75;
  font-size: 0.625rem;
  font-family: SimHei;
}
#container7 .case .pic {
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0 auto;
  background: url(../images/success.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
#container7 .case .pic a {
  display: block;
  height: 9.0625rem;
  width: 18.125rem;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container7 .case .pic a img {
  width: 100%;
  height: 100%;
}

#container8 {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container8 h1 {
  width: 100%;
  text-align: center;
  margin-top: 0.9375rem;
  font-size: 1rem;
  font-family: SimHei;
  margin-bottom: 0.625rem;
}
#container8 h2 {
  width: 100%;
  text-align: center;
  color: #999999;
  margin-bottom: 1.25rem;
  font-size: 0.625rem;
}
#container8 p {
  width: 92%;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
  font-size: 0.875rem;
  font-family: SimHei;
  text-indent: 2rem;
}

#container9 {
  width: 100%;
  height: 100%;
  position: relative;
}
#container9 .wraper {
  list-style-type: none;
  height: 100%;
  width: 100%;
  position: relative;
}
#container9 .wraper > li {
  width: 100%;
  float: left;
  position: absolute;
}
#container9 .wraper .guide {
  width: 100%;
  height: 100%;
  display: none;
}
#container9 .wraper .guide .body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container9 .wraper .guide .body #wrap {
  width: 100%;
  height: 15rem;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: white;
  border-bottom: 1px solid silver;
}
#container9 .wraper .guide .body #panel {
  width: 100%;
  margin-top: 15rem;
  margin-bottom: 3.59375rem;
}
#container9 .wraper .guide .body #panel .amap_lib_placeSearch_page {
  display: none;
}
#container9 .wraper .guide .body #panel .amap_lib_placeSearch {
  border: none;
}
#container9 .wraper .call {
  width: 100%;
  min-height: 100%;
  background-color: #f2f4f7;
  display: none;
}
#container9 .wraper .call .message {
  width: 18.1875rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 0.3125rem;
  margin-top: 0.9375rem;
}
#container9 .wraper .call .message span {
  display: block;
  width: 100%;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
  font-family: SimHei;
  border-bottom: 1px solid #dddddd;
}
#container9 .wraper .call .message span a {
  text-decoration: none;
  color: #2cbf75;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container9 .wraper .call .message span a .iconfont {
  font-family: "iconfont";
  font-size: 0.875rem;
  font-weight: bold;
  font-style: normal;
  position: relative;
  left: -0.625rem;
  vertical-align: bottom;
  color: #2cbf75;
}
#container9 .wraper .call .message span:last-child {
  color: #2cbf75;
  background-color: #f6f8fb;
}
#container9 .wraper .call .message:last-child {
  margin-bottom: 4.375rem;
}
#container9 .wraper .home {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}
#container9 .wraper .home .bcg {
  width: 100%;
  height: 100%;
  background: url(../images/index_1.jpg) no-repeat -10px -10px;
  background-size: 180% 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#container9 .wraper .home .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main {
  width: 25.9375rem;
  height: 25.9375rem;
  border-radius: 50%;
  position: absolute;
}
#container9 .wraper .home .main .left_ul {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  height: 0px;
}
#container9 .wraper .home .main .left_ul > li {
  height: 3.90625rem;
  width: 3.90625rem;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 50%;
  border: 2px solid #d8d3b9;
}
#container9 .wraper .home .main .left_ul > li a {
  width: 3.90625rem;
  height: 3.90625rem;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container9 .wraper .home .main .left_ul > li a span {
  display: block;
  width: 3.90625rem;
  height: 3.90625rem;
  padding-top: 2.75rem;
  color: white;
  font-size: 0.75rem;
  font-family: SimHei;
  line-height: 3.90625rem;
}
#container9 .wraper .home .main .left_ul > li:first-child {
  background: url(../images/icon.png) no-repeat 50% -5%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main .left_ul > li:nth-child(2) {
  background: url(../images/icon.png) no-repeat 45% 38%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main .left_ul > li:nth-child(3) {
  background: url(../images/icon.png) no-repeat 48% 81%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main .left_ul > li:nth-child(4) {
  display: none;
}
#container9 .wraper .home .main .right_ul {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  height: 0px;
}
#container9 .wraper .home .main .right_ul li {
  height: 3.90625rem;
  width: 3.90625rem;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 50%;
  border: 2px solid #d8d3b9;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2.0625rem;
  text-align: center;
}
#container9 .wraper .home .main .right_ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container9 .wraper .home .main .right_ul li a span {
  width: 3.90625rem;
  height: 3.90625rem;
  display: block;
  padding-top: 2.75rem;
  color: white;
  font-size: 0.75rem;
  font-family: SimHei;
  line-height: 4.4375rem;
}
#container9 .wraper .home .main .right_ul li:nth-child(1) {
  background: url(../images/icon.png) no-repeat 45% 17%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main .right_ul li:nth-child(2) {
  background: url(../images/icon.png) no-repeat 46% 60%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .main .right_ul li:nth-child(3) {
  background: url(../images/icon.png) no-repeat 46% 106%;
  background-size: 2.65625rem 20.375rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#container9 .wraper .home .circle {
  width: 14.6875rem;
  height: 14.6875rem;
  border-radius: 50%;
  border: 0.5rem solid white;
  box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.5), 0 0 0 2.3125rem rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -6.25rem;
  top: 50%;
  margin-top: -8.90625rem;
  background: url(../images/index_1.jpg) no-repeat 100% 60%;
  background-size: 32rem 24rem;
  display: block;
}
#container9 .wraper .home .change {
  display: none;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  right: 15%;
  bottom: 20%;
  text-align: center;
  line-height: 3.125rem;
  color: white;
  font-size: 1.5rem;
  font-family: SimHei;
  font-weight: bold;
  animation: guang 2s linear infinite;
  -webkit-animation: guang 2s linear infinite;
  -moz-animation: guang 2s linear infinite;
}
#container9 .wraper .smes {
  width: 100%;
  min-height: 100%;
  background-color: #f2f4f7;
  overflow: hidden;
  display: none;
}
#container9 .wraper .smes .message {
  width: 18.1875rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 0.3125rem;
  margin-top: 0.9375rem;
}
#container9 .wraper .smes .message span {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  font-size: 0.875rem;
  font-family: SimHei;
  border-bottom: 1px solid #dddddd;
}
#container9 .wraper .smes .message span a {
  text-decoration: none;
  color: #2cbf75;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
#container9 .wraper .smes .message span a .iconfont {
  font-family: "iconfont";
  font-size: 0.875rem;
  font-weight: bold;
  font-style: normal;
  position: relative;
  left: -0.625rem;
  vertical-align: bottom;
  color: #2cbf75;
}
#container9 .wraper .smes .message span:last-child {
  color: #2cbf75;
  background-color: #f6f8fb;
}
#container9 .wraper .smes .message:last-child {
  margin-bottom: 4.375rem;
}
#container9 .wraper .online_smes {
  width: 100%;
  min-height: 100%;
  background-color: 242, 244, 247;
  overflow: hidden;
  display: none;
}
#container9 .wraper .online_smes form {
  margin-bottom: 3.59375rem;
}
#container9 .wraper .online_smes form div {
  height: 2.875rem;
  margin-left: 5%;
  border-bottom: 1px solid #dddddd;
}
#container9 .wraper .online_smes form label {
  display: inline-block;
  line-height: 2.8125rem;
  height: 2.8125rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Microsoft Yahei;
}
#container9 .wraper .online_smes form input {
  width: 80%;
  height: 2.8125rem;
  box-sizing: border-box;
  padding-left: 7%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  outline: none;
  font-size: 1rem;
  font-family: SimHei;
}
#container9 .wraper .online_smes form textarea {
  width: 100%;
  margin-top: 0.625rem;
  border: 1px solid #dddddd;
  font-size: 0.875rem;
  font-family: SimHei;
  resize: none;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  box-sizing: border-box;
}
#container9 .wraper .online_smes form button {
  width: 90%;
  margin-left: 5%;
  margin-top: 0.9375rem;
  height: 2.84375rem;
  background-color: #2cbf75;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.125rem;
  -webkit-appearance: none;
}
#container9 .nav {
  width: 100%;
  max-width: 800px;
  height: 3.15625rem;
  background-color: white;
  position: fixed;
  bottom: 0px;
}
#container9 .nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
}
#container9 .nav ul li {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
}
#container9 .nav ul li .iconfont {
  display: block;
  font-family: "iconfont";
  font-weight: bold;
  font-size: 1rem;
  font-style: normal;
  color: #7d8288;
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem;
}
#container9 .nav ul li span {
  display: block;
  color: #7d8288;
  font-size: 0.625rem;
  font-family: SimHei;
}
#container9 .nav ul li.active .iconfont, #container9 .nav ul li.active span {
  color: #2cbf75;
}

@-webkit-keyframes guang {
  0% {
    box-shadow: none;
  }
  33% {
    box-shadow: 0 0 0 0.625rem 0.125rem rgba(255, 255, 255, 0.4);
  }
  66% {
    box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.6), 0 0 0 0.25rem rgba(255, 255, 255, 0.4), 0 0 0 0.625rem rgba(255, 255, 255, 0.4);
  }
  99% {
    box-shadow: 0 0 0 8px 0.0625rem rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: none;
  }
}
@media screen and (max-width: 320px) {
  html, body {
    font-size: 16px;
  }
}
@media screen and (min-height: 568px) {
  html, body {
    font-size: 16px;
  }
}
@media screen and (min-width: 360px) {
  html, body {
    font-size: 18px;
  }
}
@media screen and (min-width: 375px) {
  html, body {
    font-size: 18.75px;
  }
}
@media screen and (min-width: 384px) {
  html, body {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 412px) {
  html, body {
    font-size: 20.7px;
  }
}
@media screen and (min-width: 454px) {
  html, body {
    font-size: 22.7px;
  }
}
@media screen and (min-width: 500px) {
  html, body {
    font-size: 25px;
  }
}
@media screen and (min-width: 550px) {
  html, body {
    font-size: 27.5px;
  }
}
@media screen and (min-width: 600px) {
  html, body {
    font-size: 30px;
  }
}
@media screen and (min-width: 650px) {
  html, body {
    font-size: 32.5px;
  }
}
@media screen and (min-width: 700px) {
  html, body {
    font-size: 35px;
  }
}
@media screen and (min-width: 750px) {
  html, body {
    font-size: 37.5px;
  }
}
@media screen and (min-width: 768px) {
  html, body {
    font-size: 38.4px;
  }
}
@media screen and (min-width: 800px) {
  html, body {
    font-size: 40px;
  }

  #container, #container1, #container2, #container3, #container4, #container5,
  #container6, #container7, #container8, #container9, #container10, #container11,
  #container12 {
    width: 800px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
